
<!doctype html>

<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://csweb01.csueastbay.edu/~pg4425/Project1/navigationBar.css">
    <link rel="stylesheet" href="http://csweb01.csueastbay.edu/~pg4425/Project1/productStyle.css">
    <title>finalOrder</title>
</head>

<body bgcolor="#DFDED9">
<body>
<ul>
    <li><a class="active" href="#home">FINAL ORDER</a></li>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
    <li><a href="index.html"> HOME </a></li>
    <li><a href="ProductsPage.html"> PRODUCTS</a></li>
</ul>
<table width="100%" height="198" border="0">
    <tr>
        <td width="24%" height="25"><b>Shipping Information:</b></td>
        <td width="27%">&nbsp;</td>
        <td width="49%" valign = "top" >&nbsp;</td>
    </tr>
    <tr>
        <td height="131" valign = "top">

            <%= fName %>
            <%= lName %> <br>
            <%= addr1 %><br>
            <%= addr2 %> <br>
            <%= city %>,
            <%= state %>
            <%= zip %> <br>

        </td>
        <td valign = "top">

            <%= phone %> <br>
            <%= email %> <br>

        </td>
</table>

    <table width="95%" border="4" cellpadding="5" cellspacing="0">
        <tr><td><h5> Product ID </h5></td><td><h5> Image </h5></td><td><h5> Product Name </h5></td>
            <td> <h5> Quantity </h5> </td> <td><h5> Price/Item </h5></td> <td><h5> Tax For Quantity </h5></td>
            <td><h5> Total </h5></td></tr>

    <% for (var i = 0; i < prodID.length; i++) { %>

    <tr>
        <td>
            <center><%=prodID[i]%></center>
        </td>
        <td>
        <center><img src="http://csweb01.csueastbay.edu/~pg4425/Project1/images/<%=prodID[i]%>.jpg"
                                  width = "100" height = "100" ></center>
        </td>
        <td>
            <center><%=itemNames[i]%></center>
        </td>
        <td>
            <center><%=quant[i]%></center>
        </td>
        <td>
            <center>$<%=price[i]%></center>
        </td>
        <td>
            <center>$<%=parseFloat(Math.round((price[i]*quant[i]*0.08) * 100) / 100).toFixed(2)%></center>
        </td>
        <td>
            <center>$<%=parseFloat(Math.round((price[i]*quant[i]*1.08) * 100) / 100).toFixed(2)%></center>
        </td>
    </tr>

    <% } %>


</table>

<table width="930" border="0"><tr>

        <td height="174">&nbsp;</td>
        <td></td>

        <td width = "175" valign = "top"><p><span style = "float:right;">$<%= origPrice %> </span>Subtotal </p>
            <p>&nbsp;</p>
            <p style = "color: #3084DC"><span style = "float:right;">$ <%= tax %> </span>Estimated Tax</p>
            <p ><span style = "float:right;">  $<%= ship %> </span>Shipping</p>
            <p><span style = "float:right;"> $<%= totalPrice %></span>Total</p>
        </td>

    </tr>
</table>

<table width="100%" border="0">
    <tbody>
    <tr>
        <td width="28%" height="20"><b>Billing Information:</b></td>
        <td width="50%">&nbsp;</td>
        <td width="22%">&nbsp;</td>
    </tr>
    <tr>
        <td height="117" valign = "top">

            cc:&nbsp; <%= cardNum %> <br>
            cvv/cvc: &nbsp; <%= cvv %> <br>
            Postal: &nbsp; <%= cardZip %> <br>
            Card Holder: &nbsp;<%= cardName %> <br>
        </td>
        <td valign = "top">
            <b>Card Type:</b>
            <%= card %> <br>
        </td>
    </tr>
    <tr>
        <td height="20">
            <form action = "thankyou.php">
                <input type="submit" value = "Continue">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>





