<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://csweb01.csueastbay.edu/~pg4425/Project1/navigationBar.css">
    <link rel="stylesheet" href="http://csweb01.csueastbay.edu/~pg4425/Project1/productStyle.css">
    <title>finalOrder</title>
</head>

<body bgcolor="#DFDED9">
<ul>
    <li><a class="active" href="#home">FINAL ORDER</a></li>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
    <li><a href="index.html"> HOME </a></li>
    <li><a href="ProductsPage.html"> PRODUCTS</a></li>
</ul>
<table width="95%" border="0">
    <tr><h1> ORDER SUCCESSFUL! THANK YOU!</h1></tr>
    <tr>
        <td><b>Shipping Information:</b></td>
        <td>&nbsp</td>
        <td>&nbsp</td>
        <td><b>Billing Information:</b></td>
    </tr>
    <tr>
        <td>
            <%= fName %>
            <%= lName %> <br>
            <%= addr1 %><br>
            <%= addr2 %> <br>
            <%= city %>,
            <%= state %>
            <%= zip %> <br>
        </td>
        <td>
            <%= phone %> <br>
            <%= email %> <br>
        </td>
        <td>
            <td>
                cc:&nbsp; <%= cardNum %> <br>
                cvv/cvc: &nbsp; <%= cvv %> <br>
                Postal: &nbsp; <%= cardZip %> <br>
                Card Holder: &nbsp;<%= cardName %> <br>
            </td>
            <td>
                <b>Card Type:</b>
                <%= card %> <br>
            </td>
        </td>
    </tr>
</table>

    <table width="95%" border="4" cellpadding="5" cellspacing="0">
        <tr><td><h5> Product ID </h5></td><td><h5> Image </h5></td><td><h5> Product Name </h5></td>
            <td> <h5> Quantity </h5> </td> <td><h5> Price/Item </h5></td> <td><h5> Tax For Quantity </h5></td>
            <td><h5> Total </h5></td></tr>

    <% for (var i = 0; i < prodID.length; i++) { %>

    <tr>
        <td>
            <center><h5><%=prodID[i]%></h5></center>
        </td>
        <td>
        <center><img src="http://csweb01.csueastbay.edu/~pg4425/Project1/images/<%=prodID[i]%>.jpg"
                                  width = "100" height = "100" ></center>
        </td>
        <td>
            <center><h5><%=itemNames[i]%></h5></center>
        </td>
        <td>
            <center><h5><%=quant[i]%></h5></center>
        </td>
        <td>
            <center><h5>$<%=price[i]%></h5></center>
        </td>
        <td>
            <center><h5>$<%=parseFloat(Math.round((price[i]*quant[i]*0.08) * 100) / 100).toFixed(2)%></h5></center>
        </td>
        <td>
            <center><h5>$<%=parseFloat(Math.round((price[i]*quant[i]*1.08) * 100) / 100).toFixed(2)%></h5></center>
        </td>
    </tr>

    <% } %>

</table>
<table width="95%" border="0">
    <tr>
        <td>
            <form action = "thankyou.php">
                <input type="submit" value = "Continue">
            </form>
        </td>
        <td><h2><p><span style = "float:right;">&nbsp$<%= origPrice %> </span>Subtotal&nbsp </p>
            <p style = "color: #3084DC"><span style = "float:right;">&nbsp$ <%= tax %> </span>Total Tax&nbsp</p>
            <p ><span style = "float:right;">  &nbsp$<%= ship %> </span>Shipping&nbsp</p>
            <p><span style = "float:right;"> &nbsp$<%= totalPrice %></span>Total&nbsp</p>
            </h2></td>
    </tr>
</table>
</body>
</html>